<div class="owl-slider">
  <ngb-carousel class="no-indicators">
    <ng-template ngbSlide>
      <div class="select-item select-item-1">
        <img src="../../../../assets/img/girl-1.png" alt="Random first slide" />
        <div class="slider-box">
          <div class="slider-table">
            <div class="slider-tablecell text-left">
              <h5>Big Sale</h5>
              <h2>Computer Collection</h2>
              <p>Save Up To 25% Off</p>
              <a href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="select-item select-item-2">
        <img src="../../../../assets/img/girl-2.png" alt="Random second slide" />
        <div class="slider-box">
          <div class="slider-table">
            <div class="slider-tablecell text-right">
              <h5>Big Sale</h5>
              <h2>Watch Collection</h2>
              <p>Save Up To 25% Off</p>
              <a href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
